  <%-  include("header") -%>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    <div class="box">
        <% newTasks.forEach(function(item){ %>
    <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" name="is_checked" value="<%= item._id %>" onchange="this.form.submit()">
            <button style="color:white ;background-color:rgb(5, 6, 15)" name="priority" value="<%= item.name %>" type="submit">P</button>
            <p> <%= item.name %> </p>
        </div>
    </form>
        <% }) %>
        <form class="item" action="/" method="POST">
            <input type="text" name="task" autocomplete="off" placeholder="enter the task ">
             <button type="submit" name="list" value="<%= listTitle %>">+</button>
         </form>
    </div>

    <%- include("footer") -%>
